# 账号配置
USERNAME=学号
PASSWORD=密码

# 电费查询参数
ELEC_ACCOUNT=卡号
ELEC_ROOM_ID=宿舍编码
ELEC_ROOM_NAME=宿舍门牌号
ELEC_FLOOR=楼层
ELEC_AREA=校区
ELEC_BUILDING=楼号
ELEC_AID=提供商编号

# 网络配置
VPN_BASE=wvpn.xxxx.edu.cn
ELEC_HOST=df.xxxx.edu.cn
SSO_HOST=211.87.***.**
CAS_HOST=211.87.***.**
SSO_PORT=7280
CAS_PORT=8080
ELEC_PORT=80